<html>
  <title>A basic calculator with a catch</title>
  <head></head>

  <body>

    <div>
    <form id="id_calculator_form" action="">

      <p id="id_calculator_errors_p"></p>

      <input id="id_left_operand" type="number" name="left_operand" step="any"/>
      {{ form.operator }}
      <input id="id_right_operand" type="number" name="right_operand" step="any"/>
      <input type="submit" value="Calculate" />
    </form>
    </div>

    <div id="id_expressions">
      <p id="id_expressions_p"></p>
    </div>

  </body>

  <script type="text/javascript" src="https://code.jquery.com/jquery-3.2.1.min.js"></script>

  <!-- pre defined functions -->
  <script type="text/javascript">
  var display_expressions = function(data) {

    var expressions = data["expressions"];

    var p_id = $( "#id_expressions_p" );
    htmlString = "";

    $( expressions ).each(function( index ){
      htmlString += "<br />" + expressions[index];
    });

    p_id.html(htmlString);
  };
  </script>

  <!-- polling -->
  <script>
    $( document ).ready(function poll(){
     setTimeout(function(){
        $.ajax({
          url: "/calculator/",
          success: function(data){
            display_expressions(data),
            poll();
          },
          dataType: "json"
        });
     }, 2000);
  });
  </script>

  <!-- form submit -->
  <script>
    $(function() {
      $( "#id_calculator_form" ).submit(function(event) {
        $( "#id_calculator_errors_p" ).html("");

        var formData = {
          "left_operand": $( "#id_left_operand" ).val(),
          "right_operand": $( "#id_right_operand" ).val(),
          "operator": $( "#id_operator" ).val()
        };

        $.ajax({
          type: "POST",
          url: "/calculator/",
          data: formData,
          dataType: 'json',
          success: function(data) {
            display_expressions(data);
          },
          error: function(data) {
            errors = data["responseJSON"]["errors"];

            htmlString = "Please correct the following errors: <br/>"

            for (var key in errors) {
              if (key === "__all__") {
                console.log(errors[key]);
                htmlString += "<br />" + errors[key]
              } else {
                console.log(key + ": " + errors[key]);
                htmlString += "<br />" + key + ": " + errors[key]
              }
            }

            $( "#id_calculator_errors_p" ).html(htmlString);
          }
        });

        event.preventDefault();

      });
    });

  </script>

</html>
